# Configuración de la base de datos
DATABASE_URL=mysql+pymysql://usuario:contraseña@localhost:3306/nombre_bd

# Configuración de JWT y autenticación
SECRET_KEY=tu_clave_secreta_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
COOKIE_NAME=access_token
